<!-- figure (me) -->
    <div id="fig" class="fig">
      <div class="hipstr">
        <!-- figure [head] -->
        <div class="hipstr__head">
          <div class="hipstr__head__face clearfix">
            <div class="hipstr__head__face--hair"></div>
            <div class="hipstr__head__face--mouth"></div>
            <div class="hipstr__head__face--skin"></div>
          </div>
        </div>
        <!-- figure [torso] -->
        <div class="hipstr__torso">
          <div class="hipstr__neck clearfix">
            <div class="hipstr__neck--before"></div>
          </div>
          <!-- [torso] arm left (+ device) -->
          <div class="hipstr__arm-left">
            <div class="hipstr__shirt__arm-left">
              <div class="hipstr__shirt__arm-left--fold"></div>
            </div>
            <div class="hipstr__arm-left__forearm"></div>
            <div class="device">
              <div class="device__screen clearfix">
                <div class="device__logo"></div>
              </div>
            </div>
          </div>
          <!-- [torso] arm right -->
          <div class="hipstr__arm-right">
            <div class="hipstr__shirt__arm-right">
              <div class="hipstr__shirt__arm-right--fold"></div>
            </div>
          </div>
          <!-- [shirt] -->
          <div class="hipstr__shirt">
            <div class="hipstr__shirt__right"></div>
            <div class="hipstr__shirt__left"></div>
          </div>
        </div>
        <!-- figure [hip and legs] -->
        <div class="hipstr__bottom clearfix">
          <div class="hipstr__hip">
            <div class="hipstr__hip--fly"></div>
          </div>
          <div class="hipstr__leg-left"></div>
          <div class="hipstr__leg-right"></div>
        </div>
        <div class="hipstr__shadow"></div>
      </div>
    </div>
    <!-- end figure (me) -->
