<!-- <script>
  dataLayer = [];
</script> -->

<form id="myForm" class="wj-contact" action="https://usebasin.com/f/f160a29c6daa" method="POST">
  <p>Contact Me</p>
  <input type="text" name="email" placeholder="Email Address">
  <textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
  <input type="hidden" name="_next" value="<REDIRECTION LINK> ">
  <input type="hidden" name="_subject" value="New Contact Form Submission">
  <input type="text" name="_gotcha" style="display:none">
  <input id="form_submit" type="submit" value="Submit">
</form>
<!-- <script>
  let form_submit = function() {
    form_el.addEventListener("submit", function(e) {
      // event after form sent
      e.preventDefault();
      dataLayer.push({
        // GA-Tag-Manager event
        'event': 'myform_submit',
        'eventCategory': 'user',
        'eventAction': 'contact form',
        'eventLabel': 'form sent',
        'eventValue': '1'
      })
    });
  }
  window.onload = form_submit;
</script> -->
