<!-- GOOGLE RECAPTCHA init -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- GOOGLE TAG MANAGER init -->
<script>
  dataLayer = [];
</script>

{% comment %}
<!-- BASIN TRACKER -->
<!-- <script type="text/javascript">
function configureAhoy() {
ahoy.configure({
visitsUrl: "https://usebasin.com/ahoy/visits",
eventsUrl: "https://usebasin.com/ahoy/events",
page: "f160a29c6daa"
});
ahoy.trackView();
ahoy.trackSubmits();
}
</script>
<script src="https://cdn.jsdelivr.net/npm/ahoy.js@0.3.4/dist/ahoy.min.js" async defer onload="configureAhoy()" ></script> -->
{% endcomment %}

{% if page.url == "/contact/" %}
<section id="contact" class="wrapper space column bg_lite innerspace" style="background-color:initial !important">
{% else %}
<section id="contact" class="wrapper space column bg_lite innerspace">
{% endif %}
  <div class="container column space">
    {% if page.url == "/contact/" %} {% else %}
    <h2 class="txt-center icon-icon_envelope" style="font-size:2em">Contact</h2>
    {% endif %}
    <p id="form_msg" class="txt-center">
      Hey, if you liked what you saw, don't hesitate to contact me ;)
    </p>

    <div id="form" class="column">
      <form
        id="myform"
        class="column column-50"
        action="https://usebasin.com/f/f160a29c6daa"
        method="post"
      >
        <label for="form_contact_name">Name<small>*</small></label>
        <input
          id="form_contact_name"
          type="text"
          name="Contact Name"
          value=""
          placeholder="Name"
          required
        />
        <label for="form_contact_email">Email<small>*</small></label>
        <input
          id="form_contact_email"
          type="email"
          name="Email Address"
          value=""
          placeholder="Email Address"
          required
        />
        <label for="form_contact_url">URL</label>
        <input
          id="form_contact_url"
          type="url"
          name="Url Address"
          value=""
          placeholder="Url Address"
        />
        <label for="form_contact_message">Message<small>*</small></label>
        <textarea
          id="form_contact_message"
          name="Contact Message"
          required
        ></textarea>
        <input type="hidden" name="_next" value="/contact" />
        <input
          type="hidden"
          name="_subject"
          value="New Contact Form Submission"
        />
        <input type="hidden" name="_gotcha" />
        {%- if site.environment == 'production' and site.google_analytics -%}
        {{ site.environment }}
        <div
          class="g-recaptcha"
          data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"
        ></div>
        {%- endif -%}
        <input
          data-callback="onSubmit"
          data-badge="inline"
          id="form_submit"
          type="submit"
          value="Submit"
        />
        <p><small>* required</small></p>
      </form>
    </div>
  </div>
</section>

<script>
  let form_submit = function() {
    var form = document.getElementById("myform");
    var formMsg = document.getElementById("form_msg");
    form.onsubmit = function(event) {
      event.preventDefault();

      var formData = new FormData(form);
      console.log("FORM DATA: " + formData);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", form.action, true);
      xhr.onload = function(e) {
        console.log(xhr);
        var response = JSON.parse(xhr.response);
        if (xhr.status === 200) {
          // GOOGLE TAG
          myform.addEventListener("submit", function() {
            dataLayer.push({
              // GA-Tag-Manager event
              event: "myform_submit",
              eventCategory: "user",
              eventAction: "contact form",
              eventLabel: "form sent",
              eventValue: "1"
            });
          });

          // MSG
          form.innerHTML = "";
          formMsg.innerHTML =
            "Thank you for contacting me !<br>We'll be in touch soon ;)";
        } else {
          formMsg.innerHTML = "Error: " + response.error;
        }
      };
      xhr.send(formData);
    };
  };
  window.onload = form_submit;
</script>
