<form id="myForm" class="wj-contact" action="https://formspree.io/{{site.email}}" method="POST">
  <input type="text" name="email" placeholder="Email Address">
  <textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
  <input type="hidden" name="_next" value="<REDIRECTION LINK> ">
  <input type="hidden" name="_subject" value="New Contact Form Submission">
  <input type="text" name="_gotcha" style="display:none">
  <input id="form_submit" type="submit" value="Submit">
</form>
<script>
  dataLayer = [()];
  var form_submit = document.getElementById("form_submit");
  var form_el = document.getElementById("myForm");
  console.log("yolo");
  form_el.addEventListener("submit", function(evt) {
    evt.preventDefault();
    //event after form sent
    dataLayer.push({
      'event': 'myform',
      'eventCategory': 'user',
      'eventAction': 'contact form',
      'eventLabel': 'form sent',
      'eventValue': '1'
    })
  });
</script>
