<section class="wrapper wpr_primary jumbotron">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

  {% comment %}
  {% include fig.html %}
  {% endcomment %}
  {% include fig.html %}

  <div class="jumbotron__content">
    <div class="container column">
      <h1 class="txt-white">
        <a rel="author" href="{{ "/" | relative_url }}">{{ site.author.name | escape }}</a>
        <br>
        <strong>Web-Designer<br>& Front-end Developer !</strong>
      </h1>
    </div>
  </div>

</section>

<!-- <div class="" style="height:70vh;background-color:#CCC">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}


  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
    <strong>{{ site.title | escape }}</strong><br>
    <span>{{ site.job_title | escape }}</span>
  </a>


  {%- if titles_size > 0 -%}
  {% endif %}

</div> -->
