<section id="skills" class="wrapper bg_quaternary innerspace">
  <div class="container column space">
    <h2 class="txt-center icon-icon_cog" style="font-size:2em">
      Skills
    </h2>
    <div class="column">
      <div class="row">
        <div class="column">
          <h3 class="title--light">Web-Designer</h3>
          <p>
            With 15+ years of activity in the web-design world, I sure know some
            tricks.
          </p>
        </div>
        <div class="column">
          <h3 class="title--light">Experienced</h3>
          <p>
            From employee to manager of a small team I know how to integrate
            one.
          </p>
        </div>
        <div class="column">
          <h3 class="title--light">Passionnate</h3>
          <p>
            I already know where my passion is. I love the web and its
            ever-changing world.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="title--light">Enthusiastic</h3>
          <p>
            I love the feeling of beginning a long process with a team. I
            cheerish that.
          </p>
        </div>
        <div class="column">
          <h3 class="title--light">Curious</h3>
          <p>
            I am always interested in deepening my knowledge through exchanges
            or self-training.
          </p>
        </div>
        <div class="column">
          <h3 class="title--light">Team Player</h3>
          <p>
            After working on many places with many differents people, I know how
            to adapt.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
