// MIXINS
@mixin base($position,$top,$left,$z,$width,$height) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $z;
  width: $width;
  height: $height;
}
@mixin rounded($top-left,$top-right,$bottom-right,$bottom-left) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}
// VARS
$head_width: 50px;
// COLORS
$white: rgb(255, 255, 255);
$red: rgb(193, 57, 43);
$green: rgb(46, 204, 113);
$green_dark: rgb(39, 173, 96);
$brown: rgb(102, 79, 60); // $grey:rgb(189, 195, 199);
$aluminium: rgb(149, 165, 166);
$transparent: rgba(0, 0, 0, 0.0);
$skin: rgb(252, 215, 202);
$hair: $brown;
$hair_shadow: darken($hair,10%);
$shirt: $red;
$shirt_line: darken($shirt,5%);
$shirt_shadow: darken($shirt,10%);
$pants: $green;
$pants_shadow: darken($pants,10%);
$mac: $aluminium;
$mac_light: lighten($mac,15%);
$mac_shadow: darken($aluminium,10%);

.fig {
  position: absolute;
  float: left;
  width: 160px;
  height: 460px;
  z-index: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #ecf0f1;
}

.fig .hipstr {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 29;
  width: 160px;
  height: 460px;
  margin: 0 auto;
}
// .hipstr__cap {
//   position: absolute;
//   top: -90px;
//   left: 11px;
//   z-index: 27;
//   width: 50px;
//   height: 22px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   background-color: #c0392b;
// }
//
// .hipstr__cap--fold {
//   position: absolute;
//   top: 12px;
//   left: -3px;
//   z-index: 26;
//   width: 56px;
//   height: 16px;
//   border-radius: 3px;
//   background-color: #e74c3c;
//   -webkit-transform: rotate(5deg);
// }

// REMINDER MIXINS
// base($position,$top,$left,$z,$width,$height)
// rounded($top-left,$top-right,$bottom-right,$bottom-left)

.hipstr__head {
  @include base(absolute,9px,42px,23,$head_width,calc(#{$head_width}*1.5));
  // @include rounded(calc(#{$head_width}/2),calc(#{$head_width}/2),0,0);
  border-radius: calc(#{$head_width}/2);
  background-color: $skin;
  // overflow: hidden;
  .hipstr__head__face {
    @include base(inherit,0,0,2,100%,100%);
    @include rounded(25px,25px,0,0);
    overflow: hidden;
  }

  .hipstr__head__face--skin {
    // position: absolute;
    top: 25px;
    left: 2px;
    z-index: 21;
    width: 46px;
    height: 60px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    background-color: #fcd6c9;
    overflow: visible;
  }

  .hipstr__head__face--hair {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 23;
    width: 50px;
    height: 33px;
    border-right: 50px solid #664f3c;
    border-bottom: 10px solid $transparent;
    border-left: 6px solid #5b4635;
    // border-bottom-right-radius: 12px;
    // border-bottom-left-radius: 7px;
    -webkit-filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.1));
  }

  .hipstr__head__face--mouth {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 24;
    width: 16px;
    height: 8px;
    margin: 0 auto;
    border-radius: 2px 2px 6px 6px;
    // background-color: #fcd6c9;
    // display: none;
  }

  .hipstr__neck {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 19;
    width: 30px;
    height: 33px;
    margin: 0 auto;
    border-top: 20px solid #e9abab;
    border-left: 30px solid $transparent;
    background-color: #fcd6c9;
    border-radius: 0 0 15px 15px;
  }
}

.device {
  @include base(absolute,93px,-33px,17,88px,4px);
  border-left: 70px solid darken($mac,20%);
  @include rounded(0,0,2px,2px);
  background-color: $mac_light;

  .device__screen {
    @include base(inherit,-48px,-80px,16,74px,50px);
    @include rounded(2px,2px,2px,2px);
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: $mac_light;
    background-color: $mac;
    -webkit-transform: skewX(15deg);
  }

  .device__logo {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    border-radius: 6px;
    background-color: $white;
  }
}

.hipstr__arm-left {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 12;
  width: 20px;
  height: 117px;
  border-top: 10px solid #fcd6c9;
  border-left: 10px solid #fcd6c9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
}

.hipstr__arm-left__forearm {
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: 11;
  width: 60px;
  height: 10px;
  border-bottom: 10px solid $skin;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hipstr__arm-right {
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 8;
  width: 20px;
  height: 180px;
  border-top: 10px solid $skin;
  border-right: 10px solid $skin;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 12px;
}

.hipstr__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 72px;
  height: 225px;
  margin: 0 auto;
}

.hipstr__leg-left {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 10px;
  height: 200px;
  border-bottom: 100px solid $pants;
  background-color: $pants_shadow;
}

.hipstr__leg-right {
  float: left;
  width: 10px;
  height: 200px;
  margin-left: 52px;
  border-bottom: 100px solid $pants;
  background-color: $pants_shadow;
}

.hipstr__hip {
  float: left;
  width: 72px;
  height: 25px;
  border-top: 10px solid #ffffff;
  border-right: 72px solid rgb(46, 204, 113);
  border-bottom: 3px solid $pants;
  background-color: $pants_shadow;
}

.hipstr__hip--fly {
  float: left;
  width: 4px;
  height: 13px;
  margin-left: 35px;
  background-color: $pants;
}

.hipstr__shadow {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 88px;
  height: 6px;
  margin: 0 auto;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 7%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.15) 93%, rgba(0, 0, 0, 0) 100%);
  -webkit-filter: blur(3px);
}

.hipstr__shirt__arm-left {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 15;
  width: 20px;
  height: 50px;
  border-top: 12px solid #c0392b;
  border-left: 12px solid #c0392b;
  border-top-left-radius: 20px;
}

.hipstr__shirt__arm-left--fold {
  position: absolute;
  top: 20px;
  left: -15px;
  z-index: 14;
  width: 18px;
  height: 20px;
  border-radius: 2px;
  background-color: #e74c3c;
}

.hipstr__shirt__arm-right {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
  width: 20px;
  height: 50px;
  border-top: 12px solid #c0392b;
  border-right: 12px solid #c0392b;
  border-top-right-radius: 20px;
}

.hipstr__shirt__arm-right--fold {
  position: absolute;
  top: 20px;
  right: -15px;
  z-index: 9;
  width: 18px;
  height: 20px;
  border-radius: 2px;
  background-color: #e74c3c;
}

.hipstr__shirt__left {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 6;
  width: 24px;
  height: 156px;
  border-bottom: 3px solid $transparent;
  border-left: 23px solid #c0392b;
}

.hipstr__shirt__right {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 7;
  width: 21px;
  height: 156px;
  border-right: 21px solid rgb(193, 57, 43);
  /* border-bottom: 0px solid $transparent; */
  border-left: 3px solid rgb(179, 51, 37);
}

.hipstr__torso {
  position: absolute;
  bottom: 225px;
  left: 0;
  right: 0;
  z-index: 28;
  width: 72px;
  height: 140px;
  margin: 0 auto;
  background-color: #ffffff;
}
