@import "Color";
@import "Reset";
@import "Base";
@import "Blockquote";
@import "Button";
@import "Code";
@import "Divider";
@import "Form";
@import "Grid";
@import "Link";
@import "List";
@import "Spacing";
@import "Table";
@import "fig";
@import "Typography";
@import "Icons";
@import "Image";
@import "Utility";

// LAYOUT
.wrapper {
  width: 100%;
  height: auto;
  margin: 0;
}
footer {
  color: $white;
  padding: 1.2rem 0rem 1rem 0rem;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.space {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.centered{
  margin: auto;
  text-align: center;
}
.innerspace {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column !important;
  // @media (min-width: 40rem) {flex-direction: row !important;}
}
// TOOLS
.icon {
  width: 128px;
  height: 128px;
  margin: 0.5em;
  background-position: center;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-center {
  text-align: center;
}
#page-title {
  margin: 2rem auto;
  font-size: 2.3em;
      
  @media (min-width: 40rem) {
    font-size:2.8em;
    margin: 4rem auto 0rem auto;
  }
  @media (min-width: 80rem) {
    font-size:3em;
  }
  &:before {
    font-size: 80%;
    background-color: $color-primary;
    color: $white;
    padding-top:0.43em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
  }
}
// HOME
// HEADER
.notice {
  background-color: $color-primary;
  p {
    margin: 0px;
    color: black !important;
    a {
      color: black !important;
    }
  }
}
.alert {
  background-color: orange;
  p {
    margin: 0px;
    color: black !important;
    a {
      color: black !important;
    }
  }
}

// NAV
header {
  padding: 1rem 1rem;
  @media (min-width: 40rem) {
    padding: 0rem 2rem;
  }
}
.nav_top {
  background-color: darken($color-secondary, 25%);
  a {
    color: $color-initial;
  }
  // .txt_small {
  //   color: $color-secondary;
  //   font-size: 2em;
  //   margin-bottom: 0;
  // }
  ul {
    margin-bottom: 0;
    padding: 1rem 0rem 0rem 1rem;
  }
}
.nav_primary {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  h2{
    font-size: 1em;
    margin-bottom: 1rem !important;
    margin-top:1rem;
    @media (min-width: 40rem) {
      font-size: 2em;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto 0 auto auto;
    font-size: 1em;
    li {
      font-size: 1em;
      margin-left: 1rem;
    }
  }
}
// HEADER PRES
.jumbotron {
  color: $color-initial;
  background-color: $color-secondary;
  height: 40vw;
  max-height: 666px;
  min-height: 555px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .jumbotron__content {
    margin: auto 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    h1{
      // font-size: 2em;
      // @media (min-width: 40rem) {font-size:3.5em;}
    }
  }
}

a {
  text-decoration: none;
  color: $color-secondary;
  hover: {
    color: lighten($color-secondary, 10%);
  }
}

.title--big {
  // font-family: 'Lato', sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
}

.title--light {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  text-align: center;
}

// PROJECTS
.projects-list {
  flex-wrap: wrap;
  justify-content: space-between;
}
.project_thumbnail {
  width: 100%;
  .project_img {
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 10%;
  }
  .project_thumbnail--content {
    background-color: rgba(256, 2560, 256, 0.95);
    height: 100%;
    padding: 0.8rem;
    .tags_list {
      width: 100%;
      height: 100%;
      list-style: none;
      color: $color-secondary;
      li {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}
#projects {
  time {
    text-align: right;
    display: block;
    span {
      background-color: $color-quaternary;
      padding: 0.2rem 0.5rem;
      border-radius: 0.2rem;
      &:before {
        margin-right: 0;
      }
    }
  }
  .post-meta {
    text-align: center;
  }
  #launcher {
    text-align: center;
    .launcher {
      margin: auto;
      padding: 2rem 4rem;
      line-height: 0rem;
      height: auto;
      font-size: initial;
    }
  }
}
.tags_list {
  width: 100%;
  // height: 100%;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 1rem;
    background-color: #ECECEC;
    padding: 0rem 0.4rem;
    border-radius: 0.4rem;
  }
}
// section{
//   background-color: #CCC;
//   margin-top: 2rem !important;
//   margin-bottom: 2rem !important;
// }
.home_pres {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  .img_container {
    width: 33.333%;
    line-height: 0;
    @media (min-width: 40rem) {
      width: 25%;
      // height:25%;
    }
    @media (min-width: 80rem) {
      width: 20%;
      // width: 20%;
    }
    justify-content: space-between;
    // margin: auto;
    img{
      width: 100%;
    }
  }
}

#archives{
  .gallery{
    &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
      rgba(256, 256, 256, 0),
      rgba(256, 2560, 256, 1)
    );
    bottom: 0;
    }
  }
}

#clients {
    .img_container {
      width: 30%;
      @media (min-width: 40rem) {
        width: 18%;
        padding: 1rem;
      }
      @media (min-width: 80rem) {
        width: 20%;
        padding: 1rem;
      }
      justify-content: space-between;
      margin: auto;
    }
}

#social {
  margin-bottom: 0px;
  background-color: $color-quaternary;
  padding: 4rem;
  ul {
    margin: 0px !important;
  }
  li {
    width: 49%;
    @media (min-width: 40rem) {
      width: 24%;
    }
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 1.4rem;
    a:hover {
      background-color: $color-secondary;
      padding: 0.4rem 1rem;
      border-radius: 0.3rem;
      color: #fff;
    }
  }
}

#about{
  flex-direction: column !important;
  @media (min-width: 40rem) {flex-direction: row !important};
  article{
    width: 100%;
    @media (min-width: 40rem) {width: 60%;}
    h2{
      text-align: center;
      span{
        text-transform: capitalize;
        @media (min-width: 40rem) {font-size:70%;}
      }
      
    }
  }
  aside{
    width: 100%;
    @media (min-width: 40rem) {width: 40%;}
  }
  .thumbnail{
    width: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    img{
      width: 100%;
      height: auto;
    }
  }
}

#contact {
  margin-bottom: 0px;
  #form {
    max-width: 90%;
    margin: auto;
  }
  input,
  textarea {
    background-color: $white;
  }
  input[type="submit"] {
    width: 100%;
    padding: 1rem;
    height: auto;
    background-color: $color-primary;
    font-size: initial;
    &:hover {
      background-color: $color-secondary;
    }
  }
  .g-recaptcha {
    margin-bottom: 1.5rem;
  }
}

// .icon {
//   display: inline-block;
// }
//
// .icon-color {
//   fill: red;
// }
//
// .icon-s {
//   width: 1em;
//   height: 1em;
// }
//
// .icon-m {
//   width: 1.2em;
//   height: 1.2em;
//   margin-bottom: -0.25em;
//   margin-left: -1.2em;
// }
//
// .icon-l {
//   width: 64px;
//   height: 64px;
// }
// svg{
//   width: 64px;
//   height: 64px;
// }

.container {
  max-width: 960px;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  .project_thumbnail {
    width: 50%;
  }
  #form {
    width: 70%;
  }
}
/* Larger than tablet screen */
@media (min-width: 80rem) {
  .project_thumbnail {
    width: 33.33%;
  }
}
/* Larger than desktop screen */
@media (min-width: 120rem) {
}
