@charset "utf-8"
@import '_normalize'
@import '_vars'
@import '_base'
@import '_layout'

.happy_background
  display: flex
  flex-direction: column
  position: relative
  background-color: #26f2e0
  height: 40vh
  padding: 3rem
  text-align: center
  .head_title
    display: block
    width: 70%
    position: absolute
    font-size: 2em
    align-self: center
    margin-top: auto
    margin-bottom: auto
    color: #FFF
    strong
      text-transform: uppercase
      font-size: 2em
      font-weight: 100
  img
    width: 505px
    align-self: center

.site-header
  border: 0px


#myForm
  display: flex
  flex-direction: column
  padding: 1rem
  font-size: 1.2em
  input,textarea
    margin-bottom: 1rem
    border: 0px
    padding: 1rem
  #form_submit
    font-weight: bold
    color: white
    background-color: #26f2e0
