<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <main>

  <!-- GOOGLE TAG MANAGER -->
  {% include google_tagmanager_iframe.html %}
  
  {% comment %}
  <!-- ALERT & INFOS (todo, move > _include) -->
  <div class="wrapper bg-black alert nospace">
    <div class="container txt-center txt-primary">
      <p class="icon-icon_info-standard">This website is a work in progress</p>
    </div>
  </div>
  <div class="wrapper bg-black notice nospace">
    <div class="container txt-center txt-primary">
      <p class="icon-icon_info-standard">I'm actually searching an internship (front-end), <a href="contact">contact-me</a> if you have a need.</p>
    </div>
  </div>
  {% endcomment %}

  <!-- HEADER -->
  {%- include header.html -%}

  <!-- JUMBOTRON -->
  {%- include jumbotron.html -%}

  <!-- DESCRIPTION -->
  <section class="wrapper bg_tertiary innerspace">
    <div class="container column txt-center">
      <h2>
        Hi, I'm a senior web designer learning to code!
      </h2>
      <p>I've worked on many projects and <strong>it is the time for me to become a front-end developer</strong>.
        <br>
        I joined the Coding-Academy (by Epitech) to become one.
        <br>
        I'm actually searching for an internship for me to practice what I've learned during my formation.</p>
        <a href="{{site.baseurl}}/assets/2019-07_nicolas-genty_resume_web-designer_front-end.pdf" class="button centered launcher icon-file-pdf" target="_blank">Download my resume (pdf)</a>
    </div>
  </section>

  <!-- SKILLS -->
  {% include skills.html %}

  <!-- PROJECTS -->
  {% comment %}
  {%- include projects.html -%}
  {% endcomment %}

  <!-- ARCHIVES -->
  {%- include archives.html -%}

  <!-- CLIENTS -->
  {%- include clients.html -%}
  
  </main>

  <!-- FORM -->
  {%- include form.html -%}

  <!-- SOCIAL NETWORK -->
  {%- include social.html -%}

  <!-- FOOTER -->
  {%- include footer.html -%}

</body>

</html>
