---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
        {% if page.deadline %}
        <span>(
          {% assign deadline = page.deadline | date: '%s' %}
          {% assign date_start = page.date | date: '%s' %}
          {% assign secondsSince = deadline | minus: date_start %}
          {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
          {% assign daysSince = hoursSince | divided_by: 24  %}
          {{daysSince}}
          {% if daysSince == 1 %}
          day
          {% else %}
          days
          {% endif %}
        </span>
        {% endif %}
        )
      </time>
      <br>
      <a href="https://ngenty.com/coding-academy-projects/{{ page.directory }}" class="">link to the project</a>
      {% comment %}
      =======================
      for testing purpose only / used for determine if actual page is a project or not
      =======================
      {% endcomment %}
      {% if post.ref == project %}
      <!-- <em>_project_</em> -->
      {% if page.tags %}
      <ul itemprop="keywords" class="projects__tags_list">
        {% for tag in page.tags %}
        <li rel="tag" class="icon-dev_{{ tag }}">{{ tag }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% else %}
      <em>_article_</em>
      {% endif %}

      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author.name | escape }}</span></span>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
