---
layout: default
---
{% if post.ref == project %}
<a href="/projects" class="icon-left">back to Projects</a>
<article id="projects" class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
{% else %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
{% endif %}
  <header class="post-header">
    {% if page.deadline %}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
      <span class="icon-hourglass">
        {% assign deadline = page.deadline | date: '%s' %}
        {% assign date_start = page.date | date: '%s' %}
        {% assign secondsSince = deadline | minus: date_start %}
        {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
        {% assign daysSince = hoursSince | divided_by: 24  %}
        {{daysSince}}
        {% if daysSince == 1 %}
        day
        {% else %}
        days
        {% endif %}
      </span>
    </time>
    {% endif %}
    <h1 id="post-title" class="p-name txt-center " itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      {% if post.ref == project %}
          {% if page.tags %}
          <ul itemprop="keywords" class="tags_list">
            {% for tag in page.tags %}
            <li rel="tag" class="icon-dev_{{ tag }}">{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% else %}
        <!-- <em>_article_</em> -->
      {% endif %}

      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author.name | escape }}</span></span>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <div id="launcher">
    <a href="https://ngenty.com/coding-academy-projects/{{ page.directory }}" class="button launcher icon-icon_pop-out" target="_blank">launch the project</a>
    </div>
    <br>
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
